@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Gotu&family=Lato&family=Magra:wght@400;700&family=Noto+Sans+JP:wght@400;700&family=Noto+Serif+JP&display=swap');

:root {
    --clr-primary-: #1A1E34;
    --clr-secondary-: #F4F4D0;
    --clr-tertiary-: #F8F8F8;

    --fs-logo-: 'Fredericka the Great';
    --fs-nav-: 'Gotu', sans-serif;
    --fs-heading-: 'Magra', sans-serif;
    --fs-para-: 'Lato', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
}

#logo {
    font-family: var(--fs-logo-);
    font-size: clamp(3rem, 7.5vw, 6rem);
    font-weight: 100;
}

body {
    color: var(--clr-primary-);
    background-color: var(--clr-secondary-);
}

h1,
h2,
h3 {
    font-family: var(--fs-heading-);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

p, figcaption {
    font-family: var(--fs-para-);
    font-size: 1.5rem;
}

footer {
    background-color: var(--clr-primary-);
    color: var(--clr-secondary-);
}

.footer-contact>*,
.footer-platforms>* {
    margin: 2rem 0;
}

footer section {
    margin: 0rem 3rem;
    padding: 2rem 0rem;
}

.icons {
    display: flex;
    gap: 2rem;
}

ul,
li {
    list-style: none;
    text-decoration: none;
}

a:active {
    color: var(--clr-primary-);
}

a:link,
a:visited {
    color: var(--clr-primary-);
    text-decoration: none;
}

nav {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 1.5rem 0rem;
    font-family: var(--fs-nav-);
}

nav li {
    margin: 1rem;
    display: flex;
    gap: 15vw;
    font-size: 1.75rem;
}

main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 2rem 13%;
}

.home-main {
    text-align: center;
}
.home-main >* , .home-main section>*{
    margin: 1.25rem 0;
}
.home-main section>* {
    margin: 1.25rem 0 0 0;
}
.home-main figure {
    background-color: var(--clr-primary-);
    color: var(--clr-secondary-);
    border-radius: 2rem;
    padding: 0 0 0.75em 0;
}

figcaption{
    padding: 0.25rem;
}

.home-main figure img{
    border-radius: 2rem 2rem 0rem 0rem;
    max-width: 100%;
}

#me-pic{
    border-radius: 50%;
    max-width: 100%;
}

.about-info > *{
 margin: 2rem 0;
}


